/* Title Style */
#course-title {
    display: block; 
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #1d4e7a;
    color: white;
}

nav {
    background-color: #34495e;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
    max-width: 5000px; 
    margin: 0 auto;    
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 1000;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

body {
    font-family: 'Inter', 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6; 
    color: #333;      
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 30px;
    max-width: 1200px; 
    margin: 40px auto; 
    padding: 0 20px;
    align-items: stretch; 
}

main h1 {
    grid-column: 1 / 3; 
    text-align: center;
    margin: 20px 0;
}

.card {
    border: 1px solid #d1d1d1;
    background-color: #fff;
    border-radius: 8px;   
    overflow: hidden;      
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    padding: 0 0 20px 0; 
    display: flex;
    flex-direction: column;
}

.card p {
    padding: 0 20px; 
    margin: 10px 0;
}

.card h2 {
    background-color: #1d4e7a; 
    color: white;
    padding: 10px;
    margin-top: 0; 
    text-align: center;
}

.card img {
    display: block;
    margin: 15px auto;
    width: 350px; 
    max-width: 400px;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,15);
}

.mexico-city-temple {
    width: 90% !important;    
    max-width: 400px !important; 
    height: 220px !important;   
    object-fit: cover;          
    display: block;
    margin: 15px auto;          
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

footer {
    background-color: #1d4e7a;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 5px solid #0292ae;
}

#lastmodified {
    color: #ffff00; 
    font-size: 1rem;
    margin-top: 10px;
}